<%= error_messages_for :game %>

<div id="game">
  <div class="square" id="s0">
    x
  </div>
  <div class="square" id="s1">
    o
  </div>
  <div class="square" id="s2">
    x
  </div>
  <div class="square" id="s3">
    x
  </div>
  <div class="square" id="s4">
    o
  </div>
  <div class="square" id="s5">
    o
  </div>
  <div class="square" id="s6">
    x
  </div>
  <div class="square" id="s7">
    o
  </div>
  <div class="square" id="s8">
    x
  </div>
</div>